# Data Discrepancy Analysis - AIQ

---

In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('Inspecting_error_from_aiq_summary.csv')

# Top 5 Summary
data.head(5)

,user_id,total_spend,count_saved_items,loyalty_credits,batch_id,table_source
0,1,1119,34,109,1536,aiq-user-summary
1,1,1119,34,109,1536,delta0
2,1,4070,10,179,4940,delta3
3,1,4070,10,179,4940,johnny-user-summary
4,1,4070,10,179,4940,samantha-summary

In [2]:
# Inspecting where Action IQ went wrong 
# Using first 10 user ids from aiq-user-summary, johnny-user-summary, samantha-summary and delta0,1,2,3,4

first_10_user_id = data[data['user_id'].isin([1,2,3,4,5,6,7,8,9,10])]

highlight_col = lambda x: ['background-color : yellow' if x.table_source in ('aiq-user-summary')  else ('background-color : pink' if x.table_source in ('delta3') else 'background-color : white') for i in x]

result = first_10_user_id.style.apply(highlight_col,axis=1)

result

In [3]:
# Data Sampling - for user_id 1
# Observe that aiq-user-summary max_id value is the same as delta0 and not delta3, as delta3 was unsuccessfully merged

# Use the hover feature to assess the data

user_id1 = data[data['user_id'].isin([1])]

a = user_id1.style.set_table_styles([{'selector' : 'tr:hover',
'props' : [('border','2px solid black')]}])

a

In [4]:
# Data Sampling - for user_id 5
# Observe that aiq-user-summary max_id value is consitent with johnny-user-summary and samantha-summary, 
# as the max here is from Delta4 table, which was included in the merge 

# Use the hover feature to assess the data

user_id5 = data[data['user_id'].isin([5])]

b = user_id5.style.set_table_styles([{'selector' : 'tr:hover',
'props' : [('border','2px solid black')]}])

b